{% extends "base.html" %}
{% load static %}


{% block title %}About - Executive Coach Builders{% endblock %}

{% block nav_about %}active{% endblock %}



{% block content %}

{% comment %} Reusing some CSS {% endcomment %}
<section class="home-hero text-center mb-5">
  <h1 class="home-hero-title">{{ about.title }}</h1>
</section>


{% comment %} Picture {% endcomment %}
<div class="about-container">
  {% if about.image %}
  <img src="{{ about.image.url }}" alt="About ECB Image" class="about-img pb-3">
  {% else %}
  <img src="{% static 'images/placeholder-about.png' %}" alt="About ECB Image" class="about-img pb-3">
  {% endif %}
</div>


{% comment %} Description {% endcomment %}
<section class="about">
  {{ about.body|linebreaks }}
</section>

{% endblock %}