{% extends "base.html" %}

{% block title %}Home - Executive Coach Builders{% endblock %}

{% block nav_contact %}active{% endblock %}



{% block content %}

{% comment %} Reusing some CSS {% endcomment %}
<section class="home-hero text-center mb-5">
  <h1 class="home-hero-title">Contact</h1>
</section>

{% comment %} The contact info {% endcomment %}

<section class="contact-social-media">
  <a href="https://www.facebook.com/ExecutiveCoachBuilders/"><i class="bi bi-facebook contact-icon contact-icon-facebook"></i></a>
  <a href="https://twitter.com/coach_builders/"><i class="bi bi-twitter contact-icon contact-icon-twitter"></i></a>
  <a href="https://www.youtube.com/@ECBLIMOTV/"><i class="bi bi-youtube contact-icon contact-icon-youtube"></i></a>
</section>

{% endblock %}