{% extends "base.html" %}

{% block title %}Contact - Executive Coach Builders{% endblock %}

{% block nav_contact %}active{% endblock %}

{% block content %}

{% comment %} Reusing some CSS {% endcomment %}
<section class="home-hero text-center mb-5">
  <h1 class="home-hero-title">Contact</h1>
</section>

{% comment %} Contact Form {% endcomment %}

<form class="contact-form" action="/contact/" method="post">
  {% csrf_token %}

  <label for="firstname">First Name: </label>
  <input id="firstname" type="text" name="firstname" maxlength="100" value="{{ form.firstname.value|default:'' }}" class="{% if form.firstname.errors %}input-error{% endif %}">
  
  {% if form.firstname.errors %}
    <span class="error-message">{{ form.firstname.errors|join:", " }}</span>
  {% endif %}

  <label for="lastname">Last Name: </label>
  <input id="lastname" type="text" name="lastname" maxlength="100" value="{{ form.lastname.value|default:'' }}" class="{% if form.lastname.errors %}input-error{% endif %}">
  
  {% if form.lastname.errors %}
    <span class="error-message">{{ form.lastname.errors|join:", " }}</span>
  {% endif %}

  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="{{ form.email.value|default:'' }}" class="{% if form.email.errors %}input-error{% endif %}">
  
  {% if form.email.errors %}
    <span class="error-message">{{ form.email.errors|join:", " }}</span>
  {% endif %}

  <label for="message">Message:</label>
  <textarea id="message" name="message" class="{% if form.message.errors %}input-error{% endif %}">{{ form.message.value|default:'' }}</textarea>
  
  {% if form.message.errors %}
    <span class="error-message">{{ form.message.errors|join:", " }}</span>
  {% endif %}

  {% if form.non_field_errors %}
    <div class="error-message non-field-errors">
      {{ form.non_field_errors|join:", " }}
    </div>
  {% endif %}

  <input type="submit" value="OK">
</form>

{% comment %} The contact info {% endcomment %}

<section class="contact-social-media">
  <a href="https://www.facebook.com/ExecutiveCoachBuilders/" target="_blank"><i
      class="bi bi-facebook contact-icon contact-icon-facebook"></i></a>
  <a href="https://twitter.com/coach_builders/" target="_blank"><i class="bi bi-twitter contact-icon contact-icon-twitter"></i></a>
  <a href="https://www.youtube.com/@ECBLIMOTV/" target="_blank"><i class="bi bi-youtube contact-icon contact-icon-youtube"></i></a>
</section>

{% endblock %}